@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    border: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    width: 150px;
    height: 40px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.curso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border: 4px solid #ee7708;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 0px 10px;
    align-items: center;
    cursor: pointer;
}
.selecionado
{
    background-color: #025 !important;
    color:#ffffff !important;
    
}
.c1{
    background-color: #ffffff;
    color: #444;
}
.c2{
    background-color: #ffffff;
    color: #444;
}
.caixa{
    border: 4px solid #000;
    border-color: #ee7708;
    background-image: linear-gradient(to top, rgb(15, 199, 199) ,rgb(104, 141, 241));
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}

.caixaFuncionalidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.comandos{
    margin: 10px;
    padding: 5px;
}
#caixaNovoCurso input{
    margin: 10px;
    padding: 5px;
}
#nomeCurso{
    border: 3px solid #eee;
     border-radius: 5px;
    
}
#nomeCurso:focus{
    background-color: #fceee0;
    border:2px solid #025;
    border-radius: 5px;
}