@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
.caixa{
    border: 5px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.verde{
    border-color: rgb(20, 120, 23) !important;
    background-color: rgb(213, 231, 216) !important;
}
.azul{
    border-color: rgb(20, 60, 120);
    background-color: rgb(213, 231, 216) !important;

}
.vermelho{
    border-color: rgb(120, 20, 20);
    background-color:rgb(213, 231, 216) !important;
}
button{
    width: 150px;
    height: 40px;
    background-color: #025;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
#caixa_pesquisar input{
    padding: 5px;
    border-radius: 5px;
    width: 300px;
}